h1, h2, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-weight:bold;
    font-size: 32px;

}

h2{
    font-size: 18px;
    color: blue;
}

p{
    font-size: 16px;
    text-align: center;

}

.secondpara{
    text-align: left;
    color: #9933ff;
}